.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    bottom: 0;
    width: 100%;
    height: 3rem;
  }

.footer > * {
    margin: 0.8rem;
}

.author {
    color: var(--fourth);
}

.author:hover {
    color: var(--secondary);
}

.fa-brands {
    color: var(--fourth);
    font-size: 1.5rem;
    cursor: pointer;
}

.pustishka {
    opacity: 0;
}

@media (max-width: 450px) {
    .pustishka {
        display: none;
    }
}